.dev-home {
  background-color: $color-secondary;
  color: $color-black;
  font-size: 1.4rem !important;
}
.circle-block {
  display: inline-block;
  position: relative;
  width: 320px;
  height: 320px;
  overflow: hidden;
  border-radius: 50%;
}
.circle-image {
  width: auto;
  height: 100%;
  margin-left: -50px;
}
