.form-container {
    width: 60%;
    padding: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: inherit;
    margin: auto;
    color: $color-black-two;
  }
.login-form {
    // max-width: 15rem;
    padding: 5rem;
    height: auto;
    background-color: $color-secondary;
}

@media only screen and (max-width: 400px) {
  .form-container {
    width: 90%;
    padding: 0 0;
    margin: 1rem auto;
  }
.login-form {
    padding: 1rem;

}
}
.disactivate {
  display: none;
}
.form__errors {
  color: red;
}
.form__line {
  display: inline-block;
  width: 100%;
  border: 1px solid $color-shadow;
  margin: 2rem 0;
}
.alert-danger {
  &__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
  }
  &__li {
    display: block;
    border: 1px solid red;
    width: 50%;
    margin: 0.5rem 0;
    text-align: center;
  }
}
@media only screen and (min-width: 400px) and (max-width: 900px) {
  .form-container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;

  }
  .login-form {
    // max-width: 15rem;
    padding: 2.5rem;
}
}

@media only screen and (min-height: 900px) {
  .form-container {
    margin-top: 7rem;
    margin-bottom: 10rem;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-height: 1200px) {
  .form-container {
    margin: 13rem auto
  }
}