footer {
  background-color: $color-black-two;
  color: $color-grey;
  height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 8rem;

  & > div:not(:first-child) {
    margin-top: 3rem;
  }
}
.copyright {
  width: 100%;
  text-align: center;
}
footer a {
  color: $color-grey !important;
}