.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-primary-two;
    width: 100vw;
    padding: 1rem 1rem;
    &__title {
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }
    &__presentation {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 600px) {
    .infos {
        &__title {
            margin-bottom: 2rem;
            font-size: 2rem;
        }
        &__presentation {
            font-size: 1rem;
        }
    }
  }
@media only screen and (min-width: 600px) {
    .infos {
        height: 20rem;
    }
}
@media only screen and (min-height: 1080px) {
    .infos {
        height: 25rem;
    }
}